<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1>This is contact file</h1>
<form action="/contact" method="post">
    <label for="fullName">Full name:</label>
    <br/>

    <input id="fullName" type="text" name="fullName"/>
    <br/>
    <label for="age">Age:</label>
    <br/>

    <input id="age" type="text" name="age"/>
    <br/>
    <label for="address">Address:</label>
    <br/>
    <input id="address" type="text" name="address"/>

    <br/>

    <button type="submit">Submit</button>
</form>
</body>
</html>